gulpfile.js
jest.config*.js
.eslintrc.js
migrations/
coverage/
.tmp/
scripts/
stacks-blockchain/
src/schemas/*
docs/
#client/
#src/tests/
src/tests-rosetta/
src/tests-rosetta-cli/
src/tests-bns/
client/src/
config/
utils/src/
client*
