{
  "branches": [
    "master",
    {
      "name": "beta",
      "channel": "beta",
      "prerelease": true
    },
    {
      "name": "nakamoto",
      "channel": "nakamoto",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm ci"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "execCwd": "client",
        "prepareCmd": "npm ci"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "./client"
      }
    ],
    "@semantic-release/github",
    "@semantic-release/changelog",
    "@semantic-release/git"
  ]
}
