openapi: 3.0.2
servers:
  - url: https://stacks-node-api.mainnet.stacks.co/
    description: Mainnet
  - url: https://stacks-node-api.testnet.stacks.co/
    description: Testnet
  - url: http://localhost:3999/
    description: Local
info:
  title: Stacks Blockchain API
  version: v4.1.0
  description: >
    Welcome to the API reference overview for the <a
    href="https://docs.hiro.so/get-started/stacks-blockchain-api">Stacks
    Blockchain API</a>.


    <a href="https://hirosystems.github.io/stacks-blockchain-api/collection.json" download="stacks-api-collection.json">Download Postman collection</a>
tags:
  - name: Accounts
    description: Read-only endpoints to obtain Stacks account details
    externalDocs:
      description: Stacks Documentation - Accounts
      url: https://docs.stacks.co/understand-stacks/accounts
  - name: Blocks
    description: Read-only endpoints to obtain Stacks block details
  - name: Faucets
    description: Endpoints to request STX or BTC tokens (not possible on Mainnet)
  - name: Fees
    description: Read-only endpoints to obtain fee details
  - name: Fungible Tokens
    description: Read-only endpoints to obtain fungible token details
    externalDocs:
      description: Stacks Documentation - Tokens
      url: https://docs.stacks.co/write-smart-contracts/tokens
  - name: Info
    description: Read-only endpoints to obtain network, Proof-of-Transfer, Stacking,
      STX token, and node information
  - name: Microblocks
    description: Read-only endpoints to obtain microblocks details
    externalDocs:
      description: Stacks Documentation - Microblocks
      url: https://docs.stacks.co/understand-stacks/microblocks
  - name: Names
    description: Read-only endpoints realted to the Blockchain Naming System on Stacks
    externalDocs:
      description: Stacks Documentation - Blockchain Naming System
      url: https://docs.stacks.co/build-apps/references/bns
  - name: Non-Fungible Tokens
    description: Read-only endpoints to obtain non-fungible token details
    externalDocs:
      description: Stacks Documentation - Tokens
      url: https://docs.stacks.co/write-smart-contracts/tokens
  - name: Rosetta
    description: Endpoints to support the Rosetta API open blockchain standard
    externalDocs:
      description: Hiro Documentation - Rosetta Support
      url: https://docs.hiro.so/get-started/stacks-blockchain-api#rosetta-support
  - name: Search
    description: Read-only endpoints to search for accounts, blocks, smart
      contracts, and transactions
  - name: Smart Contracts
    description: Read-only endpoints to obtain Clarity smart contract details
    externalDocs:
      description: Stacks Documentation - Clarity Smart Contracts
      url: https://docs.stacks.co/write-smart-contracts/overview
  - name: Stacking Rewards
    description: Read-only endpoints to obtain Stacking reward details
    externalDocs:
      description: Stacks Documentation - Stacking
      url: https://docs.stacks.co/understand-stacks/stacking
  - name: Transactions
    description: Endpoints to obtain transaction details and to broadcast
      transactions to the network
    externalDocs:
      description: Hiro Documentation - Transactions
      url: https://docs.hiro.so/get-started/transactions
paths:
  /extended/v1/faucets/stx:
    parameters:
      - name: address
        in: query
        description: A valid testnet STX address
        required: true
        schema:
          type: string
          example: ST3M7N9Q9HDRM7RVP1Q26P0EE69358PZZAZD7KMXQ
      - name: stacking
        in: query
        description: Request the amount of STX tokens needed for individual address stacking
        required: false
        schema:
          type: boolean
          default: false
    post:
      summary: Get STX testnet tokens
      description: >
        Add 500 STX tokens to the specified testnet address. Testnet STX
        addresses begin with `ST`. If the `stacking`

        parameter is set to `true`, the faucet will add the required number of tokens for individual stacking to the

        specified testnet address.


        The endpoint returns the transaction ID, which you can use to view the transaction in the

        [Stacks Explorer](https://explorer.stacks.co/?chain=testnet). The tokens are delivered once the transaction has

        been included in an anchor block.


        A common reason for failed faucet transactions is that the faucet has run out of tokens. If you are experiencing

        failed faucet transactions to a testnet address, you can get help in [Discord](https://stacks.chat).


        **Note:** This is a testnet only endpoint. This endpoint will not work on the mainnet.
      tags:
        - Faucets
      operationId: run_faucet_stx
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  description: STX testnet address
                  type: string
                stacking:
                  description: Use required number of tokens for stacking
                  type: boolean
              example:
                address: ST3M7N9Q9HDRM7RVP1Q26P0EE69358PZZAZD7KMXQ
                stacking: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                description: POST request that initiates a transfer of tokens to a specified
                  testnet address
                title: RunFaucetResponse
                type: object
                additionalProperties: false
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: Indicates if the faucet call was successful
                  txId:
                    type: string
                    description: The transaction ID for the faucet call
                  txRaw:
                    type: string
                    description: Raw transaction in hex string representation
              example:
                success: true
                txId: "0xf2f0402f9f4c4d43b382690c4f7b97e24d5ff5dd5c619e3615daa64dca7ef4bc"
                txRaw: 80800000000400164247d6f2b425ac5771423ae6c80c754f7172b0000000000000003200000000000000b400008537046ff1008368baaa3ff2235122c556b89dad4f9df0639b924cf32a44b866497e49846b24191e711b21faaae96ca0542e4a140168484740b94211cececb3303020000000000051ab52c45b1a7977204f17ac0b6f48306aea2dbb8e9000000000007a12046617563657400000000000000000000000000000000000000000000000000000000
        "500":
          description: Faucet call failed
  /extended/v1/faucets/btc:
    parameters:
      - name: address
        in: query
        description: A valid testnet BTC address
        required: true
        schema:
          type: string
          example: 2N4M94S1ZPt8HfxydXzL2P7qyzgVq7MHWts
    post:
      summary: Add testnet BTC tokens to address
      description: >
        Add 1 BTC token to the specified testnet BTC address.


        The endpoint returns the transaction ID, which you can use to view the transaction in a testnet Bitcoin block

        explorer. The tokens are delivered once the transaction has been included in a block.


        **Note:** This is a testnet only endpoint. This endpoint will not work on the mainnet.
      tags:
        - Faucets
      operationId: run_faucet_btc
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  description: BTC testnet address
                  type: string
              example:
                address: 2N4M94S1ZPt8HfxydXzL2P7qyzgVq7MHWts
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/paths/~1extended~1v1~1faucets~1stx/post/responses/200/content/applicat\
                  ion~1json/schema"
              example:
                $ref: "#/paths/~1extended~1v1~1faucets~1stx/post/responses/200/content/applicat\
                  ion~1json/example"
        "500":
          description: Faucet call failed
  /extended/v1/tx:
    get:
      summary: Get recent transactions
      tags:
        - Transactions
      operationId: get_transaction_list
      description: >
        Retrieves all recently mined transactions


        If using TypeScript, import typings for this response from our types package:


        `import type { TransactionResults } from '@stacks/stacks-blockchain-api-types';`
      parameters:
        - name: limit
          in: query
          description: max number of transactions to fetch
          required: false
          schema:
            type: integer
            default: 96
            maximum: 200
        - name: offset
          in: query
          description: index of first transaction to fetch
          required: false
          example: 42000
          schema:
            type: integer
        - name: type
          in: query
          description: Filter by transaction type
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - coinbase
                - token_transfer
                - smart_contract
                - contract_call
                - poison_microblock
        - name: unanchored
          in: query
          description: Include transaction data from unanchored (i.e. unconfirmed)
            microblocks
          required: false
          schema:
            type: boolean
            example: true
            default: false
      responses:
        "200":
          description: List of transactions
          content:
            application/json:
              schema:
                description: GET request that returns transactions
                title: TransactionResults
                type: object
                required:
                  - results
                  - limit
                  - offset
                  - total
                additionalProperties: false
                properties:
                  limit:
                    type: integer
                    maximum: 200
                    description: The number of transactions to return
                  offset:
                    type: integer
                    description: The number to transactions to skip (starting at `0`)
                  total:
                    type: integer
                    description: The number of transactions available
                  results:
                    type: array
                    items:
                      type: object
                      title: Transaction
                      description: Describes all transaction types on Stacks 2.0 blockchain
                      anyOf:
                        - $ref: "#/paths/~1extended~1v1~1tx~1%7Btx_id%7D/get/responses/200/content/applic\
                            ation~1json/schema/anyOf/0"
                        - $ref: "#/paths/~1extended~1v1~1tx~1%7Btx_id%7D/get/responses/200/content/applic\
                            ation~1json/schema/anyOf/1"
                        - $ref: "#/paths/~1extended~1v1~1tx~1%7Btx_id%7D/get/responses/200/content/applic\
                            ation~1json/schema/anyOf/2"
                        - $ref: "#/paths/~1extended~1v1~1tx~1%7Btx_id%7D/get/responses/200/content/applic\
                            ation~1json/schema/anyOf/3"
                        - $ref: "#/paths/~1extended~1v1~1tx~1%7Btx_id%7D/get/responses/200/content/applic\
                            ation~1json/schema/anyOf/4"
              example:
                limit: 10
                offset: 0
                total: 101922
                results:
                  - tx_id: "0x20dedbef812e44d712569224411b27324b68ab4667321a4badd5e81ba76bf0eb"
                    nonce: 269
                    fee_rate: "0"
                    sender_address: SPQXK10DBF5ECAM30XVE3EJA8DNZF3VE0BK4MKV
                    sponsored: false
                    post_condition_mode: deny
                    post_conditions: []
                    anchor_mode: on_chain_only
                    is_unanchored: false
                    block_hash: "0x28a9e2749b82bdc058776781a5abd5c9a6efed38f05545a8a51152655b8e1f4b"
                    parent_block_hash: "0x3789b75ccfe7f2acf85c3f069fd5b8f95f73aba5332fa618243957d1c\
                      017a2a3"
                    block_height: 21709
                    burn_block_time: 1626286436
                    burn_block_time_iso: 2021-07-14T18:13:56.000Z
                    canonical: true
                    tx_index: 0
                    tx_status: success
                    tx_result:
                      hex: "0x0703"
                      repr: (ok true)
                    microblock_hash: ""
                    microblock_sequence: 2147483647
                    microblock_canonical: true
                    event_count: 0
                    events: []
                    tx_type: coinbase
                    coinbase_payload:
                      data: "0x0000000000000000000000000000000000000000000000000000000000000000"
  /extended/v1/tx/mempool:
    get:
      summary: Get mempool transactions
      tags:
        - Transactions
      operationId: get_mempool_transaction_list
      description: >
        Retrieves all transactions that have been recently broadcast to the
        mempool. These are pending transactions awaiting confirmation.


        If you need to monitor new transactions, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client) for real-time updates.
      parameters:
        - name: sender_address
          in: query
          description: Filter to only return transactions with this sender address.
          required: false
          schema:
            type: string
        - name: recipient_address
          in: query
          description: Filter to only return transactions with this recipient address
            (only applicable for STX transfer tx types).
          required: false
          schema:
            type: string
        - name: address
          in: query
          description: Filter to only return transactions with this address as the sender
            or recipient (recipient only applicable for STX transfer tx types).
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: max number of mempool transactions to fetch
          required: false
          schema:
            type: integer
            default: 96
            maximum: 200
        - name: offset
          in: query
          description: index of first mempool transaction to fetch
          required: false
          example: 42000
          schema:
            type: integer
        - name: unanchored
          in: query
          description: Include transaction data from unanchored (i.e. unconfirmed)
            microblocks
          required: false
          schema:
            type: boolean
            example: true
            default: false
      responses:
        "200":
          description: List of mempool transactions
          content:
            application/json:
              schema:
                description: GET request that returns transactions
                title: MempoolTransactionListResponse
                type: object
                additionalProperties: false
                required:
                  - results
                  - limit
                  - offset
                  - total
                properties:
                  limit:
                    type: integer
                  offset:
                    type: integer
                  total:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                      title: MempoolTransaction
                      description: Describes all transaction types on Stacks 2.0 blockchain
                      anyOf:
                        - title: MempoolTokenTransferTransaction
                          description: Describes representation of a Type-0 Stacks 2.0 transaction.
                            https://github.com/blockstack/stacks-blockchain/blob/master/sip/sip-005-blocks-and-transactions.md#type-0-transferring-an-asset
                          type: object
                          allOf:
                            - title: AbstractMempoolTransaction
                              description: Abstract transaction. This schema makes up all properties common
                                between all Stacks 2.0 transaction types
                              type: object
                              allOf:
                                - $ref: "#/paths/~1extended~1v1~1contract~1%7Bcontract_id%7D/get/responses/200/co\
                                    ntent/application~1json/schema/allOf/0/allO\
                                    f/0"
                                - required:
                                    - tx_status
                                    - receipt_time
                                    - receipt_time_iso
                                  additionalProperties: false
                                  properties:
                                    tx_status:
                                      title: MempoolTransactionStatus
                                      description: Status of the transaction
                                      type: string
                                      enum:
                                        - pending
                                        - dropped_replace_by_fee
                                        - dropped_replace_across_fork
                                        - dropped_too_expensive
                                        - dropped_stale_garbage_collect
                                    receipt_time:
                                      type: number
                                      description: A unix timestamp (in seconds) indicating when the transaction
                                        broadcast was received by the node.
                                    receipt_time_iso:
                                      type: string
                                      description: An ISO 8601 (YYYY-MM-DDTHH:mm:ss.sssZ) timestamp indicating when
                                        the transaction broadcast was received
                                        by the node.
                            - $ref: "#/paths/~1extended~1v1~1tx~1%7Btx_id%7D/get/responses/200/content/applic\
                                ation~1json/schema/anyOf/0/allOf/1"
                        - type: object
                          title: MempoolSmartContractTransaction
                          description: Describes representation of a Type-1 Stacks 2.0 transaction.
                            https://github.com/blockstack/stacks-blockchain/blob/master/sip/sip-005-blocks-and-transactions.md#type-1-instantiating-a-smart-contract
                          allOf:
                            - $ref: "#/paths/~1extended~1v1~1tx~1mempool/get/responses/200/content/applicatio\
                                n~1json/schema/properties/results/items/anyOf/0\
                                /allOf/0"
                            - $ref: "#/paths/~1extended~1v1~1contract~1%7Bcontract_id%7D/get/responses/200/co\
                                ntent/application~1json/schema/allOf/1"
                        - type: object
                          title: MempoolContractCallTransaction
                          description: "Describes representation of a Type 2 Stacks 2.0 transaction:
                            Contract Call"
                          allOf:
                            - $ref: "#/paths/~1extended~1v1~1tx~1mempool/get/responses/200/content/applicatio\
                                n~1json/schema/properties/results/items/anyOf/0\
                                /allOf/0"
                            - $ref: "#/paths/~1extended~1v1~1tx~1%7Btx_id%7D/get/responses/200/content/applic\
                                ation~1json/schema/anyOf/2/allOf/1"
                        - type: object
                          title: MempoolPoisonMicroblockTransaction
                          description: "Describes representation of a Type 3 Stacks 2.0 transaction:
                            Poison Microblock"
                          allOf:
                            - $ref: "#/paths/~1extended~1v1~1tx~1mempool/get/responses/200/content/applicatio\
                                n~1json/schema/properties/results/items/anyOf/0\
                                /allOf/0"
                            - $ref: "#/paths/~1extended~1v1~1tx~1%7Btx_id%7D/get/responses/200/content/applic\
                                ation~1json/schema/anyOf/3/allOf/1"
                        - type: object
                          title: MempoolCoinbaseTransaction
                          description: "Describes representation of a Type 3 Stacks 2.0 transaction:
                            Poison Microblock"
                          allOf:
                            - $ref: "#/paths/~1extended~1v1~1tx~1mempool/get/responses/200/content/applicatio\
                                n~1json/schema/properties/results/items/anyOf/0\
                                /allOf/0"
                            - $ref: "#/paths/~1extended~1v1~1tx~1%7Btx_id%7D/get/responses/200/content/applic\
                                ation~1json/schema/anyOf/4/allOf/1"
              example:
                limit: 96
                offset: 0
                total: 5
                results:
                  - tx_id: "0xb31df5a363dad31723324cb5e0eefa04d491519fd30827a521cbc830114aa50c"
                    tx_status: pending
                    tx_type: token_transfer
                    receipt_time: 1598288370
                    receipt_time_iso: 2020-08-24T16:59:30.000Z
                    fee_rate: "180"
                    sender_address: STB44HYPYAT2BB2QE513NSP81HTMYWBJP02HPGK6
                    sponsored: false
                    post_condition_mode: deny
                    post_conditions: []
                    anchor_mode: any
                    token_transfer:
                      recipient_address: ST1GY25DM8RZV4X15X07THRZ2C5NMWPGQWKFGV87F
                      amount: "500000"
                      memo: "0x46617563657400000000000000000000000000000000000000000000000000000000"
                  - tx_id: "0x5bed8e3f801cb4e2c74d2815a092f7c1c6a35f2fce4a80c80ca70848d34cb395"
                    tx_status: pending
                    tx_type: token_transfer
                    receipt_time: 1598282326
                    receipt_time_iso: 2020-08-24T15:18:46.000Z
                    fee_rate: "180"
                    sender_address: ST1PS1KF93VBY5A1JV7TM66KN046KP3E3761DBSAG
                    sponsored: false
                    post_condition_mode: deny
                    post_conditions: []
                    anchor_mode: any
                    token_transfer:
                      recipient_address: ST2H33S8SEY27QKEKQKR6S5PECYPKY45CQYGGQR8X
                      amount: "1000"
                      memo: "0x00000000000000000000000000000000000000000000000000000000000000000000"
                  - tx_id: "0x9916036fde08a207e581cdcabc18ff55469861cb81194ab0e3e7c9a02cd5a17c"
                    tx_status: pending
                    tx_type: smart_contract
                    receipt_time: 1598258958
                    receipt_time_iso: 2020-08-24T08:49:18.000Z
                    fee_rate: "2000"
                    sender_address: ST2R1XSFXYHCSFE426HP45TTD8ZWV9XHX2SRP3XA8
                    sponsored: false
                    post_condition_mode: deny
                    post_conditions: []
                    anchor_mode: any
                    smart_contract:
                      contract_id: ST2R1XSFXYHCSFE426HP45TTD8ZWV9XHX2SRP3XA8.test-loans-1
                      source_code: >-
                        (define-data-var stx-loaned int 0)

                        (define-data-var lockup-period int 0)

                        (define-data-var stx-return int 0)

                        (define-public (get-stx-return (stx uint) (months uint))
                            (ok
                                (begin
                                    (var-set stx-loaned (to-int(stx))
                                    (var-set lockup-period (to-int(months))
                                    (calculate-stx-return)
                                    (print (var-get stx-return))
                                    (transfer-to-server)
                                )
                            )
                        )

                        (define-private (calculate-stx-return)
                            (ok
                                (begin
                                    (var-set stx-return (- (+ (* (/ (* (var-get stx-loaned) 5) 100) (var-get lockup-period)) (var-get stx-loaned)) 5))
                                )
                            )
                        )

                        (define-private (transfer-to-server)
                          (begin
                            (unwrap-panic (stx-transfer? (to-uint (var-get stx-loaned)) tx-sender 'ST2R1XSFXYHCSFE426HP45TTD8ZWV9XHX2SRP3XA8))
                            (ok (to-uint (var-get stx-loaned)))
                          )
                        )
                  - tx_id: "0x871fb186c8d6ac6ede2822c71074d9884b593c0d7f2d0d6e8516e615484d7501"
                    tx_status: pending
                    tx_type: smart_contract
                    receipt_time: 1598230365
                    receipt_time_iso: 2020-08-24T00:52:45.000Z
                    fee_rate: "2000"
                    sender_address: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1
                    sponsored: false
                    post_condition_mode: deny
                    post_conditions: []
                    anchor_mode: any
                    smart_contract:
                      contract_id: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1.contract-hook-1598230358601
                      source_code: >
                        ;; ## CUSTOM FUNCTION TO EXTRACT A SUBSTRING


                        (define-read-only (subs (source (buff 10)) 
                                                (start int) 
                                                (end int))
                         (begin
                          (unwrap-panic (if (and (<= 0 start) (<= start 10)) (ok 1) (err "Out of bounds: start")))
                          (unwrap-panic (if (and (<= 0 end) (<= end 10)) (ok 1) (err "Out of bounds: end")))
                          (let ((temp1 (fold subs1 source 
                                          {start: start, end: end, cursor: 1, data: ""})))
                           (let ((data (get data temp1))) 
                               data))))

                            
                        ;; Call the function to extract the substring between the bounds:


                        ;; (subs "123456789" 2 5)


                        (define-read-only (subs1 
                                            (ch (buff 1))
                                            (acc {data: (buff 10), 
                                                  start: int,
                                                  end: int,
                                                  cursor: int})) 
                          (let ((data (get data acc))
                                (start (get start acc))
                                (cursor (get cursor acc))
                                (end (get end acc)))                                     
                            (let ((temp2 
                                   {cursor: (+ 1 cursor),
                                    data: (default-to ""
                                             (as-max-len?
                                               (concat data 
                                                 (if (let ((temp3 start)
                                                           (temp4 cursor)
                                                           (temp5 end))
                                                      (and (<= temp3 temp4)
                                                       (<= temp4 temp5)))
                                                   ch 
                                                   ""))
                                               u10))}))
                             {start: (get start acc),
                              end: (get end acc),
                              cursor: (get cursor temp2),
                              data: (get data temp2)})))
                  - tx_id: "0x66df10d99d3a26018f521d60e9f744b083386c73e47ad39c394d570abee55f1f"
                    tx_status: pending
                    tx_type: smart_contract
                    receipt_time: 1598230066
                    receipt_time_iso: 2020-08-24T00:47:46.000Z
                    fee_rate: "2000"
                    sender_address: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1
                    sponsored: false
                    post_condition_mode: deny
                    post_conditions: []
                    anchor_mode: any
                    smart_contract:
                      contract_id: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1.contract-hook-1598230054238
                      source_code: >
                        (define-read-only (subs1 
                                            (ch (buff 1))
                                            (acc {data: (buff 10), 
                                                  start: int,
                                                  end: int,
                                                  cursor: int}))
                         (begin
                          (unwrap-panic (if (and (<= 1 (get start acc)) (<= (get start acc) 10)) (ok 1) (err "Out of bounds: start")))
                          (unwrap-panic (if (and (<= 1 (get end acc)) (<= (get end acc) 10)) (ok 1) (err "Out of bounds: end")))
                          (unwrap-panic (if (and (<= 1 (get cursor acc)) (<= (get cursor acc) 10)) (ok 1) (err "Out of bounds: cursor")))
                          (let ((data (get data acc))
                                (start (get start acc))
                                (cursor (get cursor acc))
                                (end (get end acc)))                                     
                            (let ((temp1 
                                   {cursor: (+ 1 cursor),
                                    data: (default-to ""
                                             (as-max-len?
                                               (concat data 
                                                 (if (let ((temp2 start)
                                                           (temp3 cursor)
                                                           (temp4 end))
                                                      (and (<= temp2 temp3)
                                                       (<= temp3 temp4)))
                                                   ch 
                                                   ""))
                                               u10))}))
                             {start: (get start acc),
                              end: (get end acc),
                              cursor: (get cursor temp1),
                              data: (get data temp1)}))))
                  - tx_id: "0x7402d8e52204d6c8cba7465e159e79750338c3ee31d4fe6ddef1d4d226304b65"
                    nonce: 1
                    fee_rate: "227"
                    sender_address: SP1HJDP35SSMYP98CG8SHMYHMZDK0A495ZCH6ARYS
                    sponsored: false
                    post_condition_mode: deny
                    post_conditions:
                      - type: stx
                        condition_code: sent_equal_to
                        amount: "88884500"
                        principal:
                          type_id: principal_standard
                          address: SP2J6HSSDYSTM71S0K0KK4YWRKX59JN1AD52M4B59
                    anchor_mode: any
                    tx_status: pending
                    receipt_time: 1626286631
                    receipt_time_iso: 2021-07-14T18:17:11.000Z
                    tx_type: contract_call
                    contract_call:
                      contract_id: SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE.send-many-memo
                      function_name: send-many
                      function_signature: (define-public (send-many (recipients (list 200 (tuple (memo
                        (buff 34)) (to principal) (ustx uint))))))
                      function_args:
                        - hex: "0x0b000000010c00000003046d656d6f020000000e357a62597346716a52336d736b71027\
                            46f0516b734e97043840503dc1091661c105d32b7c5c75d0475\
                            73747801000000000000000000000000054c4514"
                          repr: (list (tuple (memo 0x357a62597346716a52336d736b71) (to
                            SP2VK9TBG8E20A0YW228PC70GBMSBFHE7BNVMKB57) (ustx
                            u88884500)))
                          name: recipients
                          type: (list 200 (tuple (memo (buff 34)) (to principal) (ustx uint)))
  /extended/v1/tx/mempool/dropped:
    get:
      summary: Get dropped mempool transactions
      tags:
        - Transactions
      operationId: get_dropped_mempool_transaction_list
      description: >
        Retrieves all recently-broadcast transactions that have been dropped
        from the mempool.


        Transactions are dropped from the mempool if:
         * they were stale and awaiting garbage collection or,
         * were expensive,  or
         * were replaced with a new fee
      parameters:
        - name: limit
          in: query
          description: max number of mempool transactions to fetch
          required: false
          schema:
            type: integer
            default: 96
            maximum: 200
        - name: offset
          in: query
          description: index of first mempool transaction to fetch
          required: false
          example: 42000
          schema:
            type: integer
      responses:
        "200":
          description: List of dropped mempool transactions
          content:
            application/json:
              schema:
                $ref: "#/paths/~1extended~1v1~1tx~1mempool/get/responses/200/content/applicatio\
                  n~1json/schema"
              example:
                $ref: "#/paths/~1extended~1v1~1tx~1mempool/get/responses/200/content/applicatio\
                  n~1json/example"
  /extended/v1/tx/multiple:
    parameters:
      - name: tx_id
        in: query
        description: Array of transaction ids
        required: true
        schema:
          type: array
          items:
            type: string
      - name: event_offset
        in: query
        schema:
          type: integer
          default: 0
        description: The number of events to skip
      - name: event_limit
        in: query
        schema:
          type: integer
          default: 96
        description: The numbers of events to return
      - name: unanchored
        in: query
        description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        required: false
        schema:
          type: boolean
          example: true
          default: false
    get:
      summary: Get list of details for transactions
      tags:
        - Transactions
      operationId: get_tx_list_details
      description: >
        Retrieves a list of transactions for a given list of transaction IDs


        If using TypeScript, import typings for this response from our types package:


        `import type { Transaction } from '@stacks/stacks-blockchain-api-types';`
      responses:
        "200":
          description: Returns list of transactions with their details for corresponding
            requested tx_ids.
          content:
            application/json:
              schema:
                type: object
                title: TransactionList
                additionalProperties:
                  anyOf:
                    - type: object
                      title: TransactionFound
                      description: This object returns transaction for found true
                      additionalProperties: false
                      required:
                        - found
                        - result
                      properties:
                        found:
                          type: boolean
                          enum:
                            - true
                        result:
                          anyOf:
                            - $ref: "#/paths/~1extended~1v1~1tx~1mempool/get/responses/200/content/applicatio\
                                n~1json/schema/properties/results/items"
                            - $ref: "#/paths/~1extended~1v1~1tx/get/responses/200/content/application~1json/s\
                                chema/properties/results/items"
                    - type: object
                      title: TransactionNotFound
                      description: This object returns the id for not found transaction
                      additionalProperties: false
                      properties:
                        found:
                          type: boolean
                          enum:
                            - false
                        result:
                          type: object
                          required:
                            - tx_id
                          additionalProperties: false
                          properties:
                            tx_id:
                              type: string
                      required:
                        - found
                        - result
              example:
                "0x8911000000000000000000000000000000000000000000000000000000000000":
                  found: true
                  result:
                    tx_id: "0x8911000000000000000000000000000000000000000000000000000000000000"
                    nonce: 0
                    fee_rate: "1234"
                    sender_address: sender-addr
                    sponsored: true
                    sponsor_address: sponsor-addr
                    post_condition_mode: allow
                    post_conditions: []
                    anchor_mode: any
                    is_unanchored: false
                    block_hash: "0x0123"
                    parent_block_hash: "0x5678"
                    block_height: 0
                    burn_block_time: 39486
                    burn_block_time_iso: 1970-01-01T10:58:06.000Z
                    parent_burn_block_time: 1626122935
                    parent_burn_block_time_iso: 2021-07-12T20:48:55.000Z
                    canonical: true
                    tx_index: 4
                    tx_status: success
                    microblock_hash: ""
                    microblock_sequence: 2147483647
                    microblock_canonical: true
                    event_count: 0
                    events: []
                    execution_cost_read_count: 0
                    execution_cost_read_length: 0
                    execution_cost_runtime: 0
                    execution_cost_write_count: 0
                    execution_cost_write_length: 0
                    tx_type: coinbase
                "0x8915000000000000000000000000000000000000000000000000000000000000":
                  found: true
                  result:
                    tx_id: "0x8915000000000000000000000000000000000000000000000000000000000000"
                    nonce: 1000
                    fee_rate: "1234"
                    sender_address: sender-addr
                    sponsored: true
                    sponsor_address: sponsor-addr
                    post_condition_mode: allow
                    post_conditions: []
                    anchor_mode: any
                    is_unanchored: false
                    block_hash: "0x0123"
                    parent_block_hash: "0x5678"
                    block_height: 0
                    burn_block_time: 39486
                    burn_block_time_iso: 1970-01-01T10:58:06.000Z
                    parent_burn_block_time: 1626122935
                    parent_burn_block_time_iso: 2021-07-12T20:48:55.000Z
                    canonical: true
                    tx_index: 4
                    tx_status: success
                    microblock_hash: ""
                    microblock_sequence: 2147483647
                    microblock_canonical: true
                    event_count: 0
                    events: []
                    execution_cost_read_count: 0
                    execution_cost_read_length: 0
                    execution_cost_runtime: 0
                    execution_cost_write_count: 0
                    execution_cost_write_length: 0
                    tx_type: coinbase
                "0x8912000000000000000000000000000000000000000000000000000000000000":
                  found: true
                  result:
                    tx_id: "0x8912000000000000000000000000000000000000000000000000000000000000"
                    nonce: 0
                    fee_rate: "1234"
                    sender_address: sender-addr
                    sponsored: false
                    post_condition_mode: allow
                    post_conditions: []
                    anchor_mode: any
                    tx_status: pending
                    receipt_time: 1594307695
                    receipt_time_iso: 2020-07-09T15:14:55.000Z
                    tx_type: coinbase
                "0x8914000000000000000000000000000000000000000000000000000000000000":
                  found: false
                  result:
                    tx_id: "0x8914000000000000000000000000000000000000000000000000000000000000"
        "404":
          description: Could not find any transaction by ID
  "/extended/v1/tx/{tx_id}":
    parameters:
      - name: tx_id
        in: path
        description: Hash of transaction
        required: true
        schema:
          type: string
      - name: event_offset
        in: query
        schema:
          type: integer
          default: 0
        description: The number of events to skip
      - name: event_limit
        in: query
        schema:
          type: integer
          default: 96
        description: The numbers of events to return
      - name: unanchored
        in: query
        description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        required: false
        schema:
          type: boolean
          example: true
          default: false
    get:
      summary: Get transaction
      tags:
        - Transactions
      operationId: get_transaction_by_id
      description: >
        Retrieves transaction details for a given transaction ID


        `import type { Transaction } from '@stacks/stacks-blockchain-api-types';`
      responses:
        "200":
          description: Transaction
          content:
            application/json:
              schema:
                type: object
                title: Transaction
                description: Describes all transaction types on Stacks 2.0 blockchain
                anyOf:
                  - title: TokenTransferTransaction
                    description: Describes representation of a Type-0 Stacks 2.0 transaction.
                      https://github.com/blockstack/stacks-blockchain/blob/master/sip/sip-005-blocks-and-transactions.md#type-0-transferring-an-asset
                    type: object
                    allOf:
                      - $ref: "#/paths/~1extended~1v1~1contract~1%7Bcontract_id%7D/get/responses/200/co\
                          ntent/application~1json/schema/allOf/0"
                      - title: TokenTransferTransactionMetadata
                        description: Metadata associated with token-transfer type transactions
                        type: object
                        required:
                          - tx_type
                          - token_transfer
                        additionalProperties: false
                        properties:
                          tx_type:
                            type: string
                            enum:
                              - token_transfer
                          token_transfer:
                            type: object
                            required:
                              - recipient_address
                              - amount
                              - memo
                            additionalProperties: false
                            properties:
                              recipient_address:
                                type: string
                              amount:
                                type: string
                                description: Transfer amount as Integer string (64-bit unsigned integer)
                              memo:
                                type: string
                                description: Hex encoded arbitrary message, up to 34 bytes length (should try
                                  decoding to an ASCII string)
                  - type: object
                    title: SmartContractTransaction
                    description: Describes representation of a Type-1 Stacks 2.0 transaction.
                      https://github.com/blockstack/stacks-blockchain/blob/master/sip/sip-005-blocks-and-transactions.md#type-1-instantiating-a-smart-contract
                    allOf:
                      - $ref: "#/paths/~1extended~1v1~1contract~1%7Bcontract_id%7D/get/responses/200/co\
                          ntent/application~1json/schema/allOf/0"
                      - $ref: "#/paths/~1extended~1v1~1contract~1%7Bcontract_id%7D/get/responses/200/co\
                          ntent/application~1json/schema/allOf/1"
                  - type: object
                    title: ContractCallTransaction
                    description: "Describes representation of a Type 2 Stacks 2.0 transaction:
                      Contract Call"
                    allOf:
                      - $ref: "#/paths/~1extended~1v1~1contract~1%7Bcontract_id%7D/get/responses/200/co\
                          ntent/application~1json/schema/allOf/0"
                      - type: object
                        title: ContractCallTransactionMetadata
                        description: Metadata associated with a contract-call type transaction
                        required:
                          - tx_type
                          - contract_call
                        additionalProperties: false
                        properties:
                          tx_type:
                            type: string
                            enum:
                              - contract_call
                          contract_call:
                            type: object
                            additionalProperties: false
                            required:
                              - contract_id
                              - function_name
                              - function_signature
                            properties:
                              contract_id:
                                type: string
                                description: Contract identifier formatted as
                                  `<principaladdress>.<contract_name>`
                              function_name:
                                type: string
                                description: Name of the Clarity function to be invoked
                              function_signature:
                                type: string
                                description: Function definition, including function name and type as well as
                                  parameter names and types
                              function_args:
                                type: array
                                description: List of arguments used to invoke the function
                                items:
                                  type: object
                                  additionalProperties: false
                                  required:
                                    - hex
                                    - repr
                                    - name
                                    - type
                                  properties:
                                    hex:
                                      type: string
                                    repr:
                                      type: string
                                    name:
                                      type: string
                                    type:
                                      type: string
                  - type: object
                    title: PoisonMicroblockTransaction
                    description: "Describes representation of a Type 3 Stacks 2.0 transaction:
                      Poison Microblock"
                    allOf:
                      - $ref: "#/paths/~1extended~1v1~1contract~1%7Bcontract_id%7D/get/responses/200/co\
                          ntent/application~1json/schema/allOf/0"
                      - type: object
                        title: PoisonMicroblockTransactionMetadata
                        description: Metadata associated with a poison-microblock type transaction
                        required:
                          - tx_type
                          - poison_microblock
                        additionalProperties: false
                        properties:
                          tx_type:
                            type: string
                            enum:
                              - poison_microblock
                          poison_microblock:
                            type: object
                            required:
                              - microblock_header_1
                              - microblock_header_2
                            additionalProperties: false
                            properties:
                              microblock_header_1:
                                type: string
                                description: Hex encoded microblock header
                              microblock_header_2:
                                type: string
                                description: Hex encoded microblock header
                  - type: object
                    title: CoinbaseTransaction
                    description: "Describes representation of a Type 3 Stacks 2.0 transaction:
                      Poison Microblock"
                    allOf:
                      - $ref: "#/paths/~1extended~1v1~1contract~1%7Bcontract_id%7D/get/responses/200/co\
                          ntent/application~1json/schema/allOf/0"
                      - type: object
                        title: CoinbaseTransactionMetadata
                        description: "Describes representation of a Type 3 Stacks 2.0 transaction:
                          Poison Microblock"
                        required:
                          - tx_type
                          - coinbase_payload
                        additionalProperties: false
                        properties:
                          tx_type:
                            type: string
                            enum:
                              - coinbase
                          coinbase_payload:
                            type: object
                            additionalProperties: false
                            required:
                              - data
                            properties:
                              data:
                                type: string
                                description: Hex encoded 32-byte scratch space for block leader's use
              example:
                tx_id: "0x5e9f3933e358df6a73fec0d47ce3e1062c20812c129f5294e6f37a8d27c051d9"
                tx_status: success
                tx_type: coinbase
                fee_rate: "0"
                sender_address: ST3WCQ6S0DFT7YHF53M8JPKGDS1N1GSSR91677XF1
                sponsored: false
                post_condition_mode: deny
                is_unanchored: false
                microblock_hash: ""
                microblock_sequence: 2147483647
                microblock_canonical: true
                block_hash: "0x58412b50266debd0c35b1a20348ad9c0f17e5525fb155a97033256c83c9e2491"
                block_height: 3231
                burn_block_time: 1594230455
                canonical: true
                tx_index: 0
                tx_result:
                  hex: "0x03"
                  repr: "true"
                coinbase_payload:
                  data: "0x0000000000000000000000000000000000000000000000000000000000000000"
        "404":
          description: Cannot find transaction for given ID
  "/extended/v1/tx/{tx_id}/raw":
    parameters:
      - name: tx_id
        in: path
        description: Hash of transaction
        required: true
        schema:
          type: string
    get:
      summary: Get Raw Transaction
      tags:
        - Transactions
      operationId: get_raw_transaction_by_id
      description: |
        Retrieves a hex encoded serialized transaction for a given ID
      responses:
        "200":
          description: Hex encoded serialized transaction
          content:
            application/json:
              schema:
                description: GET raw transaction
                title: GetRawTransactionResult
                type: object
                additionalProperties: false
                required:
                  - raw_tx
                properties:
                  raw_tx:
                    type: string
                    description: A hex encoded serialized transaction
              example:
                raw_tx: "0x1234"
        "404":
          description: Cannot find transaction for given ID
  /v2/transactions:
    post:
      summary: Broadcast raw transaction
      tags:
        - Transactions
      description: Broadcasts raw transactions on the network. You can use the
        [@stacks/transactions](https://github.com/blockstack/stacks.js) project
        to generate a raw transaction payload.
      operationId: post_core_node_transactions
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
            example: binary format of
              00000000010400bed38c2aadffa348931bcb542880ff79d607afec000000000000000000000000000000c800012b0b1fff6cccd0974966dcd665835838f0985be508e1322e09fb3d751eca132c492bda720f9ef1768d14fdabed6127560ba52d5e3ac470dcb60b784e97dc88c9030200000000000516df0ba3e79792be7be5e50a370289accfc8c9e032000000000000303974657374206d656d6f00000000000000000000000000000000000000000000000000
      responses:
        "200":
          description: Transaction id of successful post of a raw tx to the node's mempool
          content:
            text/plain:
              schema:
                type: string
                example: '"e161978626f216b2141b156ade10501207ae535fa365a13ef5d7a7c9310a09f2"'
        "400":
          description: Rejections result in a 400 error
          content:
            application/json:
              schema:
                description: GET request that returns transactions
                title: PostCoreNodeTransactionsError
                type: object
                additionalProperties: false
                required:
                  - error
                  - reason
                  - reason_data
                  - txid
                properties:
                  error:
                    type: string
                    description: The error
                  reason:
                    type: string
                    description: The reason for the error
                  reason_data:
                    type: object
                    description: More details about the reason
                  txid:
                    type: string
                    description: The relevant transaction id
              example:
                error: transaction rejected
                reason: BadNonce
                reason_data:
                  actual: 4
                  expected: 0
                  is_origin: true
                  principal: ST2ZRX0K27GW0SP3GJCEMHD95TQGJMKB7G9Y0X1MH
                txid: caf6fd60ae05b0c2d19ef14ab6a7670b1095d117fa7c80224c74e76214d0a791
  /extended/v1/microblock:
    get:
      summary: Get recent microblocks
      tags:
        - Microblocks
      operationId: get_microblock_list
      description: >
        Retrieves a list of microblocks.


        If you need to actively monitor new microblocks, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client) for real-time updates.
      parameters:
        - name: limit
          in: query
          description: Max number of microblocks to fetch
          required: false
          schema:
            type: integer
            default: 20
            maximum: 200
            example: 100
        - name: offset
          in: query
          description: Index of the first microblock to fetch
          required: false
          example: 42000
          schema:
            type: integer
            example: 1000
      responses:
        "200":
          description: List of microblocks
          content:
            application/json:
              schema:
                description: GET request that returns microblocks
                additionalProperties: false
                title: MicroblockListResponse
                type: object
                required:
                  - results
                  - limit
                  - offset
                  - total
                properties:
                  limit:
                    type: integer
                    maximum: 30
                    description: The number of microblocks to return
                  offset:
                    type: integer
                    description: The number to microblocks to skip (starting at `0`)
                    default: 0
                  total:
                    type: integer
                    description: The number of microblocks available
                  results:
                    type: array
                    items:
                      title: Microblock
                      description: A microblock
                      type: object
                      required:
                        - canonical
                        - microblock_canonical
                        - microblock_hash
                        - microblock_sequence
                        - microblock_parent_hash
                        - block_height
                        - parent_block_height
                        - parent_block_hash
                        - block_hash
                        - txs
                        - parent_burn_block_time
                        - parent_burn_block_time_iso
                        - parent_burn_block_hash
                        - parent_burn_block_height
                      additionalProperties: false
                      properties:
                        canonical:
                          type: boolean
                          description: Set to `true` if the microblock corresponds to the canonical chain
                            tip.
                        microblock_canonical:
                          type: boolean
                          description: Set to `true` if the microblock was not orphaned in a following
                            anchor block. Defaults to `true` if the following
                            anchor block has not yet been created.
                        microblock_hash:
                          type: string
                          description: The SHA512/256 hash of this microblock.
                        microblock_sequence:
                          type: integer
                          description: A hint to describe how to order a set of microblocks. Starts at 0.
                        microblock_parent_hash:
                          type: string
                          description: The SHA512/256 hash of the previous signed microblock in this
                            stream.
                        block_height:
                          type: integer
                          description: The anchor block height that confirmed this microblock.
                        parent_block_height:
                          type: integer
                          description: The height of the anchor block that preceded this microblock.
                        parent_block_hash:
                          type: string
                          description: The hash of the anchor block that preceded this microblock.
                        parent_burn_block_hash:
                          type: string
                          description: The hash of the Bitcoin block that preceded this microblock.
                        parent_burn_block_time:
                          type: integer
                          description: The block timestamp of the Bitcoin block that preceded this
                            microblock.
                        parent_burn_block_time_iso:
                          type: string
                          description: The ISO 8601 (YYYY-MM-DDTHH:mm:ss.sssZ) formatted block time of the
                            bitcoin block that preceded this microblock.
                        parent_burn_block_height:
                          type: integer
                          description: The height of the Bitcoin block that preceded this microblock.
                        block_hash:
                          type: string
                          description: The hash of the anchor block that confirmed this microblock. This
                            wil be empty for unanchored microblocks
                          nullable: true
                        txs:
                          type: array
                          description: List of transactions included in the microblock
                          items:
                            type: string
                            description: Transaction ID
  "/extended/v1/microblock/{hash}":
    parameters:
      - name: hash
        in: path
        description: Hash of the microblock
        required: true
        schema:
          type: string
          example: 1.9425303101036054e+75
    get:
      summary: Get microblock
      description: Retrieves a specific microblock by `hash`
      tags:
        - Microblocks
      operationId: get_microblock_by_hash
      responses:
        "200":
          description: Microblock
          content:
            application/json:
              schema:
                title: Microblock
                description: A microblock
                type: object
                required:
                  - canonical
                  - microblock_canonical
                  - microblock_hash
                  - microblock_sequence
                  - microblock_parent_hash
                  - block_height
                  - parent_block_height
                  - parent_block_hash
                  - block_hash
                  - txs
                  - parent_burn_block_time
                  - parent_burn_block_time_iso
                  - parent_burn_block_hash
                  - parent_burn_block_height
                additionalProperties: false
                properties:
                  canonical:
                    type: boolean
                    description: Set to `true` if the microblock corresponds to the canonical chain
                      tip.
                  microblock_canonical:
                    type: boolean
                    description: Set to `true` if the microblock was not orphaned in a following
                      anchor block. Defaults to `true` if the following anchor
                      block has not yet been created.
                  microblock_hash:
                    type: string
                    description: The SHA512/256 hash of this microblock.
                  microblock_sequence:
                    type: integer
                    description: A hint to describe how to order a set of microblocks. Starts at 0.
                  microblock_parent_hash:
                    type: string
                    description: The SHA512/256 hash of the previous signed microblock in this
                      stream.
                  block_height:
                    type: integer
                    description: The anchor block height that confirmed this microblock.
                  parent_block_height:
                    type: integer
                    description: The height of the anchor block that preceded this microblock.
                  parent_block_hash:
                    type: string
                    description: The hash of the anchor block that preceded this microblock.
                  parent_burn_block_hash:
                    type: string
                    description: The hash of the Bitcoin block that preceded this microblock.
                  parent_burn_block_time:
                    type: integer
                    description: The block timestamp of the Bitcoin block that preceded this
                      microblock.
                  parent_burn_block_time_iso:
                    type: string
                    description: The ISO 8601 (YYYY-MM-DDTHH:mm:ss.sssZ) formatted block time of the
                      bitcoin block that preceded this microblock.
                  parent_burn_block_height:
                    type: integer
                    description: The height of the Bitcoin block that preceded this microblock.
                  block_hash:
                    type: string
                    description: The hash of the anchor block that confirmed this microblock. This
                      wil be empty for unanchored microblocks
                    nullable: true
                  txs:
                    type: array
                    description: List of transactions included in the microblock
                    items:
                      type: string
                      description: Transaction ID
        "404":
          description: Cannot find microblock with given hash
          content:
            application/json:
              example:
                error: cannot find microblock by hash 0xabc123
  /extended/v1/microblock/unanchored/txs:
    get:
      summary: Get the list of current transactions that belong to unanchored
        microblocks
      description: Retrieves transactions that have been streamed in microblocks but
        not yet accepted or rejected in an anchor block
      tags:
        - Microblocks
      operationId: get_unanchored_txs
      responses:
        "200":
          description: Transactions
          content:
            application/json:
              schema:
                description: GET request that returns unanchored transactions
                additionalProperties: false
                title: UnanchoredTransactionListResponse
                type: object
                required:
                  - results
                  - total
                properties:
                  total:
                    type: integer
                    description: The number of unanchored transactions available
                  results:
                    type: array
                    items:
                      $ref: "#/paths/~1extended~1v1~1tx/get/responses/200/content/application~1json/s\
                        chema/properties/results/items"
  /extended/v1/block:
    get:
      summary: Get recent blocks
      description: >
        Retrieves a list of recently mined blocks


        If you need to actively monitor new blocks, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client) for real-time updates.
      tags:
        - Blocks
      operationId: get_block_list
      parameters:
        - name: limit
          in: query
          description: max number of blocks to fetch
          required: false
          schema:
            type: integer
            default: 20
            maximum: 30
        - name: offset
          in: query
          description: index of first block to fetch
          required: false
          example: 42000
          schema:
            type: integer
      responses:
        "200":
          description: List of blocks
          content:
            application/json:
              schema:
                description: GET request that returns blocks
                additionalProperties: false
                title: BlockListResponse
                type: object
                required:
                  - results
                  - limit
                  - offset
                  - total
                properties:
                  limit:
                    type: integer
                    maximum: 30
                    description: The number of blocks to return
                  offset:
                    type: integer
                    description: The number to blocks to skip (starting at `0`)
                    default: 0
                  total:
                    type: integer
                    description: The number of blocks available
                  results:
                    type: array
                    items:
                      title: Block
                      description: A block
                      type: object
                      additionalProperties: false
                      required:
                        - canonical
                        - height
                        - hash
                        - parent_block_hash
                        - txs
                        - burn_block_time
                        - burn_block_time_iso
                        - burn_block_hash
                        - burn_block_height
                        - miner_txid
                        - parent_microblock_hash
                        - parent_microblock_sequence
                        - microblocks_accepted
                        - microblocks_streamed
                        - execution_cost_read_count
                        - execution_cost_read_length
                        - execution_cost_runtime
                        - execution_cost_write_count
                        - execution_cost_write_length
                      properties:
                        canonical:
                          type: boolean
                          description: Set to `true` if block corresponds to the canonical chain tip
                        height:
                          type: integer
                          description: Height of the block
                        hash:
                          type: string
                          description: Hash representing the block
                        parent_block_hash:
                          type: string
                          description: Hash of the parent block
                        burn_block_time:
                          type: number
                          description: Unix timestamp (in seconds) indicating when this block was mined.
                        burn_block_time_iso:
                          type: string
                          description: An ISO 8601 (YYYY-MM-DDTHH:mm:ss.sssZ) indicating when this block
                            was mined.
                        burn_block_hash:
                          type: string
                          description: Hash of the anchor chain block
                        burn_block_height:
                          type: integer
                          description: Height of the anchor chain block
                        miner_txid:
                          type: string
                          description: Anchor chain transaction ID
                        parent_microblock_hash:
                          type: string
                          description: The hash of the last streamed block that precedes this block to
                            which this block is to be appended. Not every
                            anchored block will have a parent microblock stream.
                            An anchored block that does not have a parent
                            microblock stream has the parent microblock hash set
                            to an empty string, and the parent microblock
                            sequence number set to -1.
                        parent_microblock_sequence:
                          type: integer
                          description: The hash of the last streamed block that precedes this block to
                            which this block is to be appended. Not every
                            anchored block will have a parent microblock stream.
                            An anchored block that does not have a parent
                            microblock stream has the parent microblock hash set
                            to an empty string, and the parent microblock
                            sequence number set to -1.
                        txs:
                          type: array
                          description: List of transactions included in the block
                          items:
                            type: string
                            description: Transaction ID
                        microblocks_accepted:
                          type: array
                          description: List of microblocks that were accepted in this anchor block. Not
                            every anchored block will have a accepted all (or
                            any) of the previously streamed microblocks.
                            Microblocks that were orphaned are not included in
                            this list.
                          items:
                            type: string
                            description: Microblock hash
                        microblocks_streamed:
                          type: array
                          description: List of microblocks that were streamed/produced by this anchor
                            block's miner. This list only includes microblocks
                            that were accepted in the following anchor block.
                            Microblocks that were orphaned are not included in
                            this list.
                          items:
                            type: string
                            description: Microblock hash
                        execution_cost_read_count:
                          type: integer
                          description: Execution cost read count.
                        execution_cost_read_length:
                          type: integer
                          description: Execution cost read length.
                        execution_cost_runtime:
                          type: integer
                          description: Execution cost runtime.
                        execution_cost_write_count:
                          type: integer
                          description: Execution cost write count.
                        execution_cost_write_length:
                          type: integer
                          description: Execution cost write length.
              example:
                limit: 1
                offset: 0
                total: 21707
                results:
                  - canonical: true
                    height: 21698
                    hash: "0x9be3e38eab9c7d094fd51792383c66706838d6392e95bc05cc730b8f7520e352"
                    parent_block_hash: "0x76ee36d1d6c88e56b5c0e80f0d7bc7d3492141faf1b900efb19fcd004\
                      57d4654"
                    burn_block_time: 1626281749
                    burn_block_time_iso: 2021-07-14T16:55:49.000Z
                    burn_block_hash: "0x0000000000000000000ea16f8e906e85ee1cb4dff1e5424e93843b3cec8\
                      b0bcb"
                    burn_block_height: 691014
                    miner_txid: "0x118f7122a69441d13e6a3dfd4c3b0f9950be25195bb8126aae7fadea1aa9185d"
                    parent_microblock_hash: "0x54647c277eefe60519b407f2c897749005fdb7f831034135063b\
                      2ee43fdacb04"
                    parent_microblock_sequence: 3
                    txs:
                      - "0x76f58b2eaff65a07a5971b241c4e71fee92ee0f9396809f911f9\
                        0839f9004cac"
                      - "0x32972d9052b068f218f6e13451f7aff937099b74bbf95fac7d94\
                        02295b1b3941"
                      - "0x8cd30724c02a9cc1d8879a34dc136ebfdb2008420badcfb5947b\
                        92f85ebce79b"
                      - "0xf5c1577f42d3753a508101e045dd2dc60491eb0aa552e0ecd0ad\
                        37cc697143f4"
                      - "0x35e4c20e2838f999e0cf0b40c5fabce154c2df1912a1074150d2\
                        6784c53f7a20"
                      - "0x501eb42b82e5b7a7350b47fa143cd4e90bb46d43e4a7d22830b2\
                        bf2aa70b7922"
                    microblocks_accepted:
                      - "0x54647c277eefe60519b407f2c897749005fdb7f831034135063b\
                        2ee43fdacb04"
                      - "0xdaf61d2b355f35c94cf019af99aeb73d8e7db7301c7cd693a464\
                        ebd1cfc2228c"
                      - "0xb9e9b308cf9621ecbf66ca7b4689fe384b9b67c4588ec827d816\
                        3ab602fb935e"
                      - "0x754562cba6ec243f90485e97778ab472f462fd123ef5b83cc79d\
                        8759ca8875f5"
                    microblocks_streamed:
                      - "0x54647c277eefe60519b407f2c897749005fdb7f831034135063b\
                        2ee43fdacb04"
                      - "0xdaf61d2b355f35c94cf019af99aeb73d8e7db7301c7cd693a464\
                        ebd1cfc2228c"
                      - "0xb9e9b308cf9621ecbf66ca7b4689fe384b9b67c4588ec827d816\
                        3ab602fb935e"
                      - "0x754562cba6ec243f90485e97778ab472f462fd123ef5b83cc79d\
                        8759ca8875f5"
  "/extended/v1/block/{hash}":
    parameters:
      - name: hash
        in: path
        description: Hash of the block
        example: 8.640313066587451e+76
        required: true
        schema:
          type: string
    get:
      summary: Get block by hash
      description: Retrieves block details of a specific block for a given chain
        height. You can use the hash from your latest block ('get_block_list'
        API) to get your block details.
      tags:
        - Blocks
      operationId: get_block_by_hash
      responses:
        "200":
          description: Block
          content:
            application/json:
              schema:
                title: Block
                description: A block
                type: object
                additionalProperties: false
                required:
                  - canonical
                  - height
                  - hash
                  - parent_block_hash
                  - txs
                  - burn_block_time
                  - burn_block_time_iso
                  - burn_block_hash
                  - burn_block_height
                  - miner_txid
                  - parent_microblock_hash
                  - parent_microblock_sequence
                  - microblocks_accepted
                  - microblocks_streamed
                  - execution_cost_read_count
                  - execution_cost_read_length
                  - execution_cost_runtime
                  - execution_cost_write_count
                  - execution_cost_write_length
                properties:
                  canonical:
                    type: boolean
                    description: Set to `true` if block corresponds to the canonical chain tip
                  height:
                    type: integer
                    description: Height of the block
                  hash:
                    type: string
                    description: Hash representing the block
                  parent_block_hash:
                    type: string
                    description: Hash of the parent block
                  burn_block_time:
                    type: number
                    description: Unix timestamp (in seconds) indicating when this block was mined.
                  burn_block_time_iso:
                    type: string
                    description: An ISO 8601 (YYYY-MM-DDTHH:mm:ss.sssZ) indicating when this block
                      was mined.
                  burn_block_hash:
                    type: string
                    description: Hash of the anchor chain block
                  burn_block_height:
                    type: integer
                    description: Height of the anchor chain block
                  miner_txid:
                    type: string
                    description: Anchor chain transaction ID
                  parent_microblock_hash:
                    type: string
                    description: The hash of the last streamed block that precedes this block to
                      which this block is to be appended. Not every anchored
                      block will have a parent microblock stream. An anchored
                      block that does not have a parent microblock stream has
                      the parent microblock hash set to an empty string, and the
                      parent microblock sequence number set to -1.
                  parent_microblock_sequence:
                    type: integer
                    description: The hash of the last streamed block that precedes this block to
                      which this block is to be appended. Not every anchored
                      block will have a parent microblock stream. An anchored
                      block that does not have a parent microblock stream has
                      the parent microblock hash set to an empty string, and the
                      parent microblock sequence number set to -1.
                  txs:
                    type: array
                    description: List of transactions included in the block
                    items:
                      type: string
                      description: Transaction ID
                  microblocks_accepted:
                    type: array
                    description: List of microblocks that were accepted in this anchor block. Not
                      every anchored block will have a accepted all (or any) of
                      the previously streamed microblocks. Microblocks that were
                      orphaned are not included in this list.
                    items:
                      type: string
                      description: Microblock hash
                  microblocks_streamed:
                    type: array
                    description: List of microblocks that were streamed/produced by this anchor
                      block's miner. This list only includes microblocks that
                      were accepted in the following anchor block. Microblocks
                      that were orphaned are not included in this list.
                    items:
                      type: string
                      description: Microblock hash
                  execution_cost_read_count:
                    type: integer
                    description: Execution cost read count.
                  execution_cost_read_length:
                    type: integer
                    description: Execution cost read length.
                  execution_cost_runtime:
                    type: integer
                    description: Execution cost runtime.
                  execution_cost_write_count:
                    type: integer
                    description: Execution cost write count.
                  execution_cost_write_length:
                    type: integer
                    description: Execution cost write length.
              example:
                canonical: true
                height: 3275
                hash: "0xe77ba8cf6bb7c0e4f64adc83356289ed467d31a22354907b4bb814590058430f"
                parent_block_hash: "0x75ab21ef25cbff2caa14c27d830ed7886a4d1522e1b6f9e5dc3b59ccf\
                  73ed49f"
                burn_block_time: 1594233639
                burn_block_time_iso: 2020-08-27T16:41:26.000Z
                burn_block_hash: "0xb154c008df2101023a6d0d54986b3964cee58119eed14f5bed98e15678e\
                  18fe2"
                burn_block_height: 654439
                miner_txid: "0xd7d56070277ccd87b42acf0c91f915dd181f9db4cf878a4e95518bc397c240cc"
                parent_microblock_hash: "0x590a1bb1d7bcbeafce0a9fc8f8a69e369486192d14687fe95fbe\
                  4dc1c71d49df"
                parent_microblock_sequence: 2
                txs:
                  - "0x4262db117659d1ca9406970c8f44ffd3d8f11f8e18c591d2e3960f40\
                    70107754"
                  - "0x383632cd3b5464dffb684082750fcfaddd1f52625bbb9f884ed8f45d\
                    2b1f0547"
                  - "0xc99fe597e44b8bd15a50eec660c6e679a7144a5a8553d214b9d5f140\
                    6d278c22"
                microblocks_accepted:
                  - "0xce0b1a4099d3fc7d5885cc7a3baa952b6d999f9709d0683b98b84359\
                    7208231c"
                  - "0x4c0529b6448a5885991c5021bd869cc97f1692c128a98b382729dc96\
                    2203c326"
                  - "0x64968846291dfea1015228a9d4bbd60aac81378cd6774b810b08e59e\
                    6b0e7494"
                microblocks_streamed:
                  - "0xb5650ef855f7d90fc146942e85cf9fac3a8c47ec408aca02f3cf9ed7\
                    c82f6cc6"
                  - "0xeeb9aa5741d84aa0bc5de4f2fbdeae57ae29694479475d45a67ae7bd\
                    7e2c98f3"
                  - "0x4f4c368d5f06fdf6065c5bafd9cb37391fddc9c279cfc57be35e4bf8\
                    ee932cbd"
                  - "0xde2fc8d99872c827f144c752c002d29f9315dfc09472a09572ac7447\
                    ae623dea"
                execution_cost_read_count: 2477
                execution_cost_read_length: 1659409
                execution_cost_runtime: 2520952000
                execution_cost_write_count: 608
                execution_cost_write_length: 80170
        "404":
          description: Cannot find block with given ID
          content:
            application/json:
              example:
                error: cannot find block by hash 0xabc123
  "/extended/v1/block/by_height/{height}":
    parameters:
      - name: height
        in: path
        description: Height of the block
        required: true
        example: 10000
        schema:
          type: number
    get:
      summary: Get block by height
      description: Retrieves block details of a specific block at a given block height
      tags:
        - Blocks
      operationId: get_block_by_height
      responses:
        "200":
          description: Block
          content:
            application/json:
              schema:
                $ref: "#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/200/content/appl\
                  ication~1json/schema"
              example:
                $ref: "#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/200/content/appl\
                  ication~1json/example"
        "404":
          description: Cannot find block with given height
          content:
            application/json:
              example:
                $ref: "#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/404/content/appl\
                  ication~1json/example"
  "/extended/v1/block/by_burn_block_hash/{burn_block_hash}":
    parameters:
      - name: burn_block_hash
        in: path
        description: Hash of the burnchain block
        required: true
        schema:
          type: string
          example: 2.617713084789147e+53
    get:
      summary: Get block by burnchain block hash
      description: Retrieves block details of a specific block for a given burnchain
        block hash
      tags:
        - Blocks
      operationId: get_block_by_burn_block_hash
      responses:
        "200":
          description: Block
          content:
            application/json:
              schema:
                $ref: "#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/200/content/appl\
                  ication~1json/schema"
              example:
                $ref: "#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/200/content/appl\
                  ication~1json/example"
        "404":
          description: Cannot find block with given height
          content:
            application/json:
              example:
                $ref: "#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/404/content/appl\
                  ication~1json/example"
  "/extended/v1/block/by_burn_block_height/{burn_block_height}":
    parameters:
      - name: burn_block_height
        in: path
        description: Height of the burn chain block
        required: true
        schema:
          type: number
          example: 744603
    get:
      summary: Get block by burnchain height
      description: Retrieves block details of a specific block for a given burn chain height
      tags:
        - Blocks
      operationId: get_block_by_burn_block_height
      responses:
        "200":
          description: Block
          content:
            application/json:
              schema:
                $ref: "#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/200/content/appl\
                  ication~1json/schema"
              example:
                $ref: "#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/200/content/appl\
                  ication~1json/example"
        "404":
          description: Cannot find block with given height
          content:
            application/json:
              example:
                $ref: "#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/404/content/appl\
                  ication~1json/example"
  /extended/v1/burnchain/reward_slot_holders:
    get:
      summary: Get recent reward slot holders
      description: Retrieves a list of the Bitcoin addresses that would validly
        receive Proof-of-Transfer commitments.
      tags:
        - Stacking Rewards
      operationId: get_burnchain_reward_slot_holders
      parameters:
        - name: limit
          in: query
          description: max number of items to fetch
          required: false
          schema:
            type: integer
            default: 96
            maximum: 250
        - name: offset
          in: query
          description: index of the first items to fetch
          required: false
          example: 42000
          schema:
            type: integer
      responses:
        "200":
          description: List of burnchain reward recipients and amounts
          content:
            application/json:
              schema:
                description: GET request that returns reward slot holders
                additionalProperties: false
                title: BurnchainRewardSlotHolderListResponse
                type: object
                required:
                  - results
                  - limit
                  - offset
                  - total
                properties:
                  limit:
                    type: integer
                    maximum: 30
                    description: The number of items to return
                  offset:
                    type: integer
                    description: The number of items to skip (starting at `0`)
                    default: 0
                  total:
                    type: integer
                    description: Total number of available items
                  results:
                    type: array
                    items:
                      title: BurnchainRewardSlotHolder
                      description: Reward slot holder on the burnchain
                      type: object
                      additionalProperties: false
                      required:
                        - canonical
                        - burn_block_hash
                        - burn_block_height
                        - address
                        - slot_index
                      properties:
                        canonical:
                          type: boolean
                          description: Set to `true` if block corresponds to the canonical burchchain tip
                        burn_block_hash:
                          type: string
                          description: The hash representing the burnchain block
                        burn_block_height:
                          type: integer
                          description: Height of the burnchain block
                        address:
                          type: string
                          description: The recipient address that validly received PoX commitments, in the
                            format native to the burnchain (e.g. B58 encoded for
                            Bitcoin)
                        slot_index:
                          type: integer
                          description: The index position of the reward entry, useful for ordering when
                            there's more than one slot per burnchain block
              example:
                limit: 20
                offset: 0
                total: 2
                results:
                  - canonical: true
                    burn_block_hash: "0x4eaabcd105865e471f697eff5dd5bd85d47ecb5a26a3379d74fae0ae87c\
                      40904"
                    burn_block_height: 331
                    address: 1C56LYirKa3PFXFsvhSESgDy2acEHVAEt6
                    slot_index: 0
                  - canonical: true
                    burn_block_hash: "0x4eaabcd105865e471f697eff5dd5bd85d47ecb5a26a3379d74fae0ae87c\
                      40904"
                    burn_block_height: 331
                    address: 1M3bvWB9CRh5BTumeVxtHDEV6W4S2R9AZw
                    slot_index: 0
  "/extended/v1/burnchain/reward_slot_holders/{address}":
    get:
      summary: Get recent reward slot holder entries for the given address
      description: Retrieves a list of the Bitcoin addresses that would validly
        receive Proof-of-Transfer commitments for a given reward slot holder
        recipient address.
      tags:
        - Stacking Rewards
      operationId: get_burnchain_reward_slot_holders_by_address
      parameters:
        - name: address
          in: path
          description: Reward slot holder recipient address. Should either be in the
            native burnchain's format (e.g. B58 for Bitcoin), or if a STX
            principal address is provided it will be encoded as into the
            equivalent burnchain format
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: max number of items to fetch
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          description: index of the first items to fetch
          required: false
          example: 42000
          schema:
            type: integer
      responses:
        "200":
          description: List of burnchain reward recipients and amounts
          content:
            application/json:
              schema:
                $ref: "#/paths/~1extended~1v1~1burnchain~1reward_slot_holders/get/responses/200\
                  /content/application~1json/schema"
              example:
                $ref: "#/paths/~1extended~1v1~1burnchain~1reward_slot_holders/get/responses/200\
                  /content/application~1json/example"
  /extended/v1/burnchain/rewards:
    get:
      summary: Get recent burnchain reward recipients
      description: Retrieves a list of recent burnchain (e.g. Bitcoin) reward
        recipients with the associated amounts and block info
      tags:
        - Stacking Rewards
      operationId: get_burnchain_reward_list
      parameters:
        - name: limit
          in: query
          description: max number of rewards to fetch
          required: false
          schema:
            type: integer
            default: 96
            maximum: 250
        - name: offset
          in: query
          description: index of first rewards to fetch
          required: false
          example: 42000
          schema:
            type: integer
      responses:
        "200":
          description: List of burnchain reward recipients and amounts
          content:
            application/json:
              schema:
                description: GET request that returns blocks
                additionalProperties: false
                title: BurnchainRewardListResponse
                type: object
                required:
                  - results
                  - limit
                  - offset
                properties:
                  limit:
                    type: integer
                    maximum: 30
                    description: The number of burnchain rewards to return
                  offset:
                    type: integer
                    description: The number to burnchain rewards to skip (starting at `0`)
                    default: 0
                  results:
                    type: array
                    items:
                      title: BurnchainReward
                      description: Reward payment made on the burnchain
                      additionalProperties: false
                      type: object
                      required:
                        - canonical
                        - burn_block_hash
                        - burn_block_height
                        - burn_amount
                        - reward_recipient
                        - reward_amount
                        - reward_index
                      properties:
                        canonical:
                          type: boolean
                          description: Set to `true` if block corresponds to the canonical burchchain tip
                        burn_block_hash:
                          type: string
                          description: The hash representing the burnchain block
                        burn_block_height:
[...]
