name: 'Publish @blockstack/stacks-blockchain-api-types'
on:
  push:
    branches: [master, chore/sidecar-rename]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
        registry-url: 'https://registry.npmjs.org'

    - run: npm install

    - name: Publish action
      uses: ./.github/actions/publish-docs
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
